<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novo produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input required type="text" [(ngModel)]="produto.descricao"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input required type="text" [(ngModel)]="produto.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-select mode="ios" okText="Ok" cancelText="Dismiss" [(ngModel)]="categoria"
        (ionChange)="changeCategoria($event)">
        <ion-select-option [value]="categoria" *ngFor="let categoria of categorias">{{categoria?.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Valor</ion-label>
      <ion-input required type="number" [(ngModel)]="produto.valor"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="save()">save</ion-button>
  </ion-list>
</ion-content>